@import '../../../scss/variables.scss';


.forgot-pws {
    .forgot-form {
        width: 100%;

        .form-item {
            width: 100%;
            display: flex;
            flex-direction: column;

            input {
                padding: 7px 12px;
                outline: none;
                border: 1px solid lightgrey;
                border-radius: 5px;
            }
        }

        .form-btn {
            background-color: $greenColor;
            padding: 8px 30px;
            border-radius: 4px;
            color: white;
            border: none;
            outline: none;
        }
    }
}