
@import '../../scss/variables.scss';
.btn-label {
    color: $greenColor !important;
    border: none !important;
    outline: none !important;
    &:hover {
        cursor: pointer;
    }
}

.nav-last-button {
    padding: 10px 30px;
    border: 1px solid $greenColor !important;
    outline: none !important;
    background-color: #fff;
    transition: all 0.2s linear;
    border-radius: 4px;

    &:hover {
        background-color: $greenColor;
        color: white !important;

    }

    @media only screen and (max-width:768px) {
        width: 100%;

    }
}

.reg-right-button {
    outline: none;
    border: none;
   
        padding: 15px 45px;
        color: $greenColor;
        font-size: 15px;
        text-transform: uppercase;
        background-color: #fff;
        font-weight: bolder;
        transition: all 0.2s linear;
        text-decoration: none !important;

        &:hover {
            transform: scale(1.1);

        }
    
}

.simple-text {
    background-color: transparent;
    color: greenColor !important;
    font-weight: bolder;
    border: none !important;
    outline: none;

}