@import '../../../scss/variables.scss';

.main-section-two {

    h1 {
        width: 100%;
        text-align: center;
        font-size: 45px;

        @media only screen and (max-width:768px) {
            font-size: 24px;
        }
    }

    .left-box {
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        text-indent: 15px;

        a {
            color: $greenColor;
            text-decoration: none;
            transition: all 0.2s linear;
            border-bottom: 2px solid transparent;

            i {
                margin-left: 10px;
            }

            &:hover {
                border-bottom: 2px solid $greenColor;
            }
        }

        p {
            color: $customGrey;
            font-size: 14px;
        }
    }

    .right-box {
        img {
            width: 100%;
            height: auto;
        }
    }
}