@import '../../../../scss/variables.scss';

.partner-slider {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .slider-item {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        img {
            max-width: 110px;
            width: 100%;
            height: auto;
            margin: auto;
        }
        @media all and ( max-width:768px) {
            margin: 10px;
        }
    }
    @media all and ( max-width:768px) {
        justify-content: center;
    }
}