@import '../../../scss/variables.scss';

.main-section-one {


    .left-item,
    .right-item {

        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .mid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        img {
            max-width: 450px;
            width: 100%;
            height: auto;
        }
    }



}