.home_top_navbar {


    a {
        img {
            width: 111px;
            height: auto;
        }
    }

    span.navbar-text {
        @media only screen and (max-width:768px) {
            width: 100%;
        }
    }
}
