@import '../../../../scss/variables.scss';

.main-section-six-slider {
    overflow: hidden;

    .slick-dots {
        bottom: 25px !important;

        @media only screen and (max-width:768px) {
            bottom: 5px !important;
        }
    }

    .slick-dots li button:before {
        &:hover {
            color: $greenColor !important;
        }
    }

    .slick-dots li.slick-active button:before {
        color: $greenColor;
        transition: all 0.2s linear;
        font-size: 14px;
    }
}