@import '../../scss/variables.scss';

.section-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    .counter-value {
        font-size: 85px;
        color: $greenColor;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h4 {
        letter-spacing: 5px;
        font-size: 15px;
    }
}