@import "../../../scss/variables.scss";


.dash-topnavbar {
    border-bottom: 1px solid lightgrey;
    position: relative;


    .search-dropdown {

        .search-input {
            outline: none;
            border: none;
            color: grey;
            padding-left: 10px;
        }

        .search-drop-btn {
            img {
                width: 55px;
                height: auto;
                opacity: 0.5;
                transition: all 0.2s linear;

                &:hover {
                    cursor: pointer;
                    opacity: 1;
                }
            }
        }


        .search-under-dropdown {

            padding: 20px;
            position: absolute;
            width: 100%;
            top: 100%;
            left: 123.7px;
            background-color: white;
            transition: all 0.2s linear;
            transform-origin: top;

            @media only screen and (max-width:768px) {
                left: 0;
            }

            .btn-green {
                border: none;
                outline: none;
                border-radius: 4px;
                color: white;
                padding: 5px 20px;
                background-color: $greenColor;
            }

        }

        .search-under-dropdown-active {
            z-index: -1;
            opacity: 0;

            transform: rotateX(90deg);

        }



    }

    .dash-nav-top {
        display: none !important;

        @media only screen and (max-width:768px) {
            display: flex !important;
        }
    }

    .right-user {



        a {
            text-decoration: none;
            transition: all 0.2s linear;
            color: grey;

            &:hover {
                color: $greenColor;
            }


        }

        a.log-out-link {
            text-decoration: none;
            transition: all 0.2s linear;
            color: grey;

            &:hover {
                color: red !important;
            }
        }

        @media only screen and (max-width:768px) {

            display: flex;
            justify-content: flex-end;
        }
    }

    .custom-link-dash-nav {
        padding: 10px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        transition: all 0.2s linear;
        text-decoration: none;
        color: grey;
        border-bottom: 2px solid transparent;

        .icon-dash {
            font-size: 25px;
            margin-right: 5px;
        }
    }
    .custom-link-dash-nav-disabled {
        pointer-events: none !important;
        position: relative;
        color: rgba(0, 0, 0, 0.2) !important;
       
    }
    .is-active-dash-nav {
        color: $greenColor;
        border-bottom: 2px solid $greenColor;

    }


}
