@import '../../../scss/variables.scss';

.main-section-reg {
    background-color: $greenColor;
    padding: 60px 80px;

    @media only screen and (max-width:992px) {
        padding: 40px 60px;
    }

    @media only screen and (max-width:768px) {
        padding: 10px 20px;
    }

    .right-box {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        a {
            padding: 15px 45px;
            color: $greenColor;
            font-size: 15px;
            text-transform: uppercase;
            background-color: #fff;
            font-weight: bolder;
            transition: all 0.2s linear;
            text-decoration: none !important;

            &:hover {
                transform: scale(1.1);

            }
        }
    }
}
