@import '../../../scss/variables.scss';

.main-section-three {
    .btn-link {
        padding: 10px 30px;
        border-radius: 4px;
        background-color: $greenColor;
        color: white !important;
        text-decoration: none !important;

        i {
            margin-right: 10px;
        }
    }
}