@import '../../../scss/variables.scss';

.main-section-six {


    .left-box {
        width: 100%;
        height: 100%;
    }

    .right-box {
        height: 100%;


        p {
            text-indent: 10px;
            font-size: 16px;
        }

        a {
            color: $greenColor;
            text-decoration: none;
            transition: all 0.2s linear;
            border-bottom: 2px solid transparent;

            i {
                margin-left: 10px;
            }

            &:hover {
                border-bottom: 2px solid $greenColor;
            }
        }
    }

    .btn-link {
        padding: 10px 30px;
        border-radius: 4px;
        background-color: $greenColor;
        color: white !important;
        text-decoration: none !important;

        i {
            margin-right: 10px;
        }
    }
}