@import '../../scss/variables.scss';

.dashboard-page {


    .dash-main {
        // background-color: rgba(33, 33, 33, 0.5);

        .left-sidebar {
            // width: 120px;
            // padding: 10px;
            height: 100vh;
            // background-color: red;
            background-color: white;
            position: fixed;
            left: 0;
            top: 0;
            transition: all 0.2s linear;
            transform-origin: left;
            border-right: 1px solid lightgrey;

            @media only screen and (max-width:768px) {
                transform: rotateY(90deg);

            }
        }

        .right-main-page {
            margin-top: 100px;
            padding-left: 120px;
            width: 100%;
            // background-color: green;
            transition: all 0.2s linear;

            @media only screen and (max-width:768px) {
                padding-left: 0;
                margin-top: 70px;
            }
        }
    }

}