@import '../../../scss/variables.scss';

.login-page {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;


    .login-form {
        max-width: 490px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        a {
            color: $greenColor;
            font-weight: bolder;

        }

        .right-box {
            color: $greenColor;
            font-weight: bolder;

            &:hover {
                cursor: pointer;
            }
        }

        .form-item {
            width: 100%;
            display: flex;
            flex-direction: column;

            input {
                padding: 7px 12px;
                outline: none;
                border: 1px solid lightgrey;
                border-radius: 5px;
            }
        }

        .form-btn {
            background-color: $greenColor;
            padding: 8px 30px;
            border-radius: 4px;
            color: white;
            border: none;
            outline: none;
        }
    }
}