@import '../../../scss/variables.scss';



.main-page-header {

    .slick-dots {
        bottom: 25px !important;

        @media only screen and (max-width:768px) {
            bottom: 5px !important;
        }
    }

    .slick-dots li button:before {
        &:hover {
            color: $greenColor !important;
        }
    }

    .slick-dots li.slick-active button:before {
        color: $greenColor;
        transition: all 0.2s linear;
        font-size: 14px;
    }

    .slick-prev:before,
    .slick-next:before {
        color: grey !important;
    }
    @media all and (max-width:768px) {
    overflow: hidden;
}

}