@import '../../scss/variables.scss';

.nav-last-button {
    padding: 10px 30px;
    border: 1px solid $greenColor;
    outline: none !important;
    background-color: #fff;
    transition: all 0.2s linear;
    border-radius: 4px;

    &:hover {
        background-color: $greenColor;
        color: white;

    }

    @media only screen and (max-width:768px) {
        width: 100%;

    }
}