@import '../../../scss/variables.scss';


.user-profil-page {

.go-to-edit-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: $greenColor;
    width: 50px;
    transition: all 0.2s linear;

    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    text-decoration: none !important;
    &:hover {
        background-color: rgb(165, 162, 162);
    }
}


    img {
        width: 100%;
        height: auto;

    }

}