.iconsidebar-img {
    content: "";
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}