@import '../../scss/variables.scss';

.scrollTop {

    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 22px;
    right: 20px;
    background-color: $greenColor;
    bottom: 20px;
    align-items: center;

    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: all 0.4s, ;
    opacity: 0.5;
    display: flex;
    color: white;

}

.scrollTop:hover {
    opacity: 1;
    bottom: 30px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 0.5;

    }
}