@import '../../../scss/variables.scss';

.single-book-page {
    position: relative;
    img {
        width: 100%;
        height: auto;
    }

    .bg-music {
        transition: all 0.2s linear;
        position: fixed;
        top: 20%;
        color: gray;
        padding: 5px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
      
        border-radius: 5px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
        &::-webkit-scrollbar {
            width: 0.5em;
          }
          &::-webkit-scrollbar-track {
            box-shadow: none;
          }
          &::-webkit-scrollbar-thumb {
            background-color: green;
            outline: none;
            border-radius: 5px;
          }
    }
}

audio{
  outline: none !important;
  border: none !important;
}