@import '../../../scss/variables.scss';


.main-section-four {
    // background-color: red;

    .left-item {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: row-reverse;

        img {
            max-width: 149px;
            width: 100%;
            max-height: 149px;
            height: 100%;
            margin: 5px;
            border-radius: 50%;

            @media only screen and (max-width:768px) {
                max-width: 120px;
            }
        }
    }

    .right-item {
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;


        a {
            color: $greenColor;
            text-decoration: none;
            transition: all 0.2s linear;
            border-bottom: 2px solid transparent;

            i {
                margin-left: 10px;
            }

            &:hover {
                border-bottom: 2px solid $greenColor;
            }
        }

        p {
            text-indent: 15px;
            color: $customGrey;
            font-size: 16px;
        }

        div.right-header {
            h4 {
                @media only screen and (max-width:768px) {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

    .btn-link {
        padding: 10px 30px;
        border-radius: 4px;
        background-color: $greenColor;
        color: white !important;
        text-decoration: none !important;

        i {
            margin-right: 10px;
        }
    }
}