.bg-music-btn {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: green;
    color: white;
    outline: none;
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    i {
        margin: 0 5px;
    }
}