@import '../../../scss/variables.scss';

.dash-sidebar {
    margin-top: 60px;

    .active-qulf {
        position: relative;
        //pointer-events: none !important;
        .qulf {
            backdrop-filter: blur(2px);
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            left: 0;
            top: 0;
            z-index: 10;
            i {
                color: $greenColor;
                font-size: 25px;
            }
        }
    }

    .custom-link-dash {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        transition: all 0.2s linear;
        font-size: 14px;
        color: grey;
        text-decoration: none;

        span.icon-dash {
            transition: all 0.2s linear;
            font-size: 30px;
        }

        border-bottom: 1px solid lightgrey;
    }



    .is-active-dash {
        color: $greenColor;
        // border-bottom: 1px solid lightgreen;

        span.icon-dash {
            color: $greenColor;
        }
    }
}