@import '../../../scss/variables.scss';

.home-footer {
    padding: 10px 0;
    border-top: 1px solid $greenColor;

    ul.footer-items {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
        height: 100%;
        justify-content: space-between;
        list-style-type: none;

        li {
            text-align: center;
            color: $greenColor;

            a {
                font-size: $fontSizeLittle;

            }
        }

        li.other-links {


            a {
                text-decoration: none;
                color: $greenColor;
            }
        }

        li.sot-links {
            display: flex;
            justify-content: space-between;

            a {
                width: 32.59px;
                height: 32.59px;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                border-radius: 50%;
                transition: all 0.2s linear;
                margin-left: 9px;
                text-decoration: none;
                color: $customGrey;

                &:hover {
                    background-color: $customGrey;
                    color: white;
                }
            }
        }

        @media only screen and (max-width:768px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
    }
}