@import '../../../scss/variables.scss';

.main-section-five {
    p {
        text-indent: 10px;
    }

    .left-item {
        p {
            text-indent: 10px;
            font-size: 16px;
        }

        h3 {
            font-size: 22px;

            i {
                margin-right: 10px;
                color: $greenColor;
                transition: all 0.2s linear;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        a {
            color: $greenColor;
            text-decoration: none;
            transition: all 0.2s linear;
            border-bottom: 2px solid transparent;

            i {
                margin-left: 10px;
            }

            &:hover {
                border-bottom: 2px solid $greenColor;
            }
        }
    }

    .right-item {
        img {
            width: 100%;
            height: auto;
        }
    }

    .btn-link {
        padding: 10px 30px;
        border-radius: 4px;
        background-color: $greenColor;
        color: white !important;
        text-decoration: none !important;

        i {
            margin-right: 10px;
        }
    }


}