.home-page-main {
    margin-top: 100px;
    transition: all 0.2s linear;

    @media only screen and (max-width:992px) {
        margin-top: 120px;
    }

    @media only screen and (max-width:768px) {
        margin-top: 80px;
    }
}