@import '../../../../scss/variables.scss';

.main-section-three-card {

    position: relative;

    img {
        width: 100%;
        height: auto;
    }

    .audio-player {
        margin-top: 10px;
        width: 100%;
        border: none !important;
        outline: none !important;
    }
}