@import '../../scss/variables.scss';

.custom-link {
    margin: 25px 16px;
    text-transform: uppercase;
    font-size: $fontSizeLittle;
    transition: all 0.1s linear;
    text-decoration: none !important;
    font-weight: 600;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 3px solid transparent;


    &:hover {
        border-bottom: 3px solid $greenColor;
        color: $greenColor;

    }

    @media only screen and (max-width:992px) {
        margin: 25px 5px;
    }


    @media only screen and (max-width:768px) {
        margin: 8px;

        &:hover {
            background-color: $greenColor;
            color: white;
        }
    }
}

.is-active {
    border-bottom: 3px solid $greenColor;
}