@import '../../../../scss/variables.scss';

.slide-item-header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 528px;
    transition: all 0.2s linear;

    h1 {
        color: $greenColor;
        font-weight: bold;
        transition: all 0.2s linear;

        @media only screen and (max-width:768px) {
            font-size: 24px;
        }
    }

    h4 {
        color: $greenColor;
        font-weight: bolder;
        transition: all 0.2s linear;

        @media only screen and (max-width:768px) {
            font-size: 14px;
        }
    }

    p {
        width: 50%;
        transition: all 0.2s linear;

        @media only screen and (max-width:768px) {
            font-size: 12px;
            width: 70%;
        }
    }

    .slide-btn {
        padding: 10px 30px;
        border-radius: 4px;

        background-color: $greenColor;
        color: white;
    }



    @media only screen and (max-width:1024px) {
        height: 465px;
    }

    @media only screen and (max-width:768px) {
        height: 279px;
    }


}