@import '../../../../scss/variables.scss';

.section-one-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;

    a {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-decoration: none !important;
        color: black;
        transition: all 0.2s linear;

        &:hover {
            color: $greenColor;
        }

        @media only screen and (max-width:992px) {
            padding: 5px;

        }

        i {
            font-size: 25px;
            color: $greenColor;
            padding: 10px;
        }
    }

    p {
        text-align: center;
        color: $customGrey;
    }

    @media only screen and (max-width:992px) {
        padding: 5px;
        font-size: 14px;
    }
}