@import '../../../../scss/variables.scss';

.pricing-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    a {
        text-decoration: none !important;

    }

    a.under-link {
        color: black;
        transition: all 0.2s linear;

        &:hover {
            color: $greenColor;
        }
    }

    .title-card {
        background-color: rgb(97, 97, 97);
        color: white;
        font-size: 18px;
        border-radius: 4px;
    }

    .under-card {
        .left-box {
            .number {
                color: rgb(97, 97, 97);
                font-weight: bold;
                font-size: 120px;
                padding: 0;
                margin: 0;
                line-height: 100%;

            }

            .under-text {
                color: rgb(97, 97, 97);
                text-transform: uppercase;
                font-weight: bold;
                font-size: 20px;
            }
        }

        .right-box {
            .under-right-item {
                p {
                    padding: 0;
                    margin: 0;
                    font-size: 20px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    img {
                        width: 25px;
                        height: 25px;
                    }
                }

                p.under-text-small {
                    font-size: 6px;
                }
            }
        }
    }


    p.under-val {
        color: $greenColor;

        i {
            color: rgb(100, 100, 211);
        }
    }

    .btn-link {
        padding: 10px 30px;
        border-radius: 4px;
        background-color: $greenColor;
        color: white !important;
        text-decoration: none !important;

        i {
            margin-right: 10px;
        }
    }
}